{% extends 'layouts/base.html.twig' %}

{% block title %}New User{% endblock %}

{% block two_rows_content_1 %}
    {% include 'admin/menu.html.twig' %}
{% endblock %}

{% block two_rows_content_2 %}
    <div class="content">
        <h1>Create new User</h1>

        {{ include('admin/user/_form.html.twig') }}

        <a href="{{ path('user_index') }}">back to list</a>
    </div>
{% endblock %}
