{% extends 'layouts/base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block one_row_content %}
    <div class="registration-form">

        <form method="post">

            <h1 class="h3 mb-3 font-weight-normal">Enter your new password</h1>
            <div class="form-control">
                <label for="inputEmail" class="sr-only">Password</label>
                <input type="email" name="email" id="inputEmail" class="form-control rounded-block" placeholder="Email" required autofocus autocomplete="off">
            </div>

            <div class="form-control">
                <button class="btn btn-lg btn-primary" type="submit" name="reset">
                    Set up new password
                </button>
            </div>

            <div class="form-control">
                <a href="{{ path('register') }}">Create new account</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block two_rows %}{% endblock %}
