RewriteEngine on
RewriteCond %{HTTP_HOST} ^blindtyper.zzz.com.ua$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.blindtyper.zzz.com.ua$
RewriteCond %{REQUEST_URI} !public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ /public/index.php [QSA,L]