{% extends 'layouts/base.html.twig' %}

{% block two_rows_content_1 %}
<div class="content" style="text-align: center">
    <h1>Sign in</h1>
    <form class="login-form">
        <div class="form-group">
            <input type="text" class="form-control rounded-block" name="login" placeholder="Login">
        </div>
        <div class="form-group">
            <input type="password" class="form-control rounded-block" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="btn-block">
                Sign in
            </button>
        </div>
        <div class="form-group">
            <a href="#">Create new account</a>
        </div>
    </form>
</div>
{% endblock %}
{% block two_rows_content_2 %}

<div class="content">
    <h1>Start typing without eyes keyboard tracking</h1>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id semper risus in hendrerit gravida.
        Vel pretium lectus quam id leo in vitae turpis. Lectus nulla at volutpat diam ut. Bibendum ut tristique et egestas. Ipsum a arcu cursus vitae congue mauris rhoncus aenean.
        Auctor augue mauris augue neque. Imperdiet proin fermentum leo vel orci porta non pulvinar neque. Neque convallis a cras semper auctor neque vitae tempus quam. A diam maecenas sed enim ut.
    </p>
    <a href="{{ path('test') }}">
        <button>
            Start typing <i class="fad fa-keyboard"></i>
        </button>
    </a>
</div>
{% endblock %}