{% extends 'layouts/base.html.twig' %}

{% block one_row_content %}
    <div class="test-wrapper">
        <div class="test-container">
            <div class="test-text-display">
                <span id="original-text"></span>
            </div>
            <p class="tesxxxx"></p>
            <textarea name="test-input" id="test-input" cols="146" rows="10" style="opacity: 0; width: 0px; height: 0px;"></textarea>
            <div class="test-keyboard-box">
                <img class="keyboard" src="{{ asset('img/index.jpg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}

{% block two_rows %}{% endblock %}

{%block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script src="{{ asset('js/test.js') }}"></script>
    <script>
        $(document).ready(function () {

            initText();

            $(".test-text-display").click(function () {
                $("textarea#test-input").focus();
            });

            $("textarea#test-input").on('input', function () {
                compareInputWithText($(this).val());
            });

            function compareInputWithText(input) {
                let inputIndex = input.length - 1;
                let $originalLetter = $('#original-text').find('span.letter-'+inputIndex);
                let originalChar = $originalLetter.data('letter');
                let inputChar = input.charAt(inputIndex);

                if (originalChar === inputChar) {
                    //set letter style pass
                    $originalLetter.removeClass('current');
                    $originalLetter.addClass('pass');
                    $("p.tesxxxx").text(originalChar + ' : ' + inputChar + '+');
                } else {
                    //set letter style wrong
                    $originalLetter.removeClass('current');
                    $originalLetter.addClass('wrong');
                    $("p.tesxxxx").text(originalChar + ' : ' + inputChar + '-');
                }

                $('#original-text').find('span.letter-' + (inputIndex + 1)).addClass('current');
            }

            function initText() {
                $.get('/api/text/get/1', {}, function (data, status) {
                    if (status === 'success') {
                        let text = data.parsedText;
                        let wordsCount = data.wordsCount;
                        let $originalTextBox = $("#original-text");

                        $originalTextBox.append(text);
                        $('#original-text').find('span.letter-0').addClass('current');

                        return $originalTextBox.text().trim();
                    }
                });
            }
        })
    </script>
{% endblock %}