{% extends 'layouts/base.html.twig' %}

{% block one_row_content %}
    <div class="test-wrapper">
        <div class="test-container">
            <div class="test-text-display">
                <span id="original-text">
                    <span class="current">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Sit amet porttitor eget dolor morbi non arcu. Consectetur lorem donec massa sapien faucibus.
                    Pulvinar pellentesque habitant morbi tristique senectus. Cursus metus aliquam eleifend mi in nulla posuere sollicitudin aliquam.
                    Urna et pharetra pharetra massa massa ultricies mi quis. Lacinia quis vel eros donec ac odio. Consectetur adipiscing elit ut aliquam purus.
                    Aenean pharetra magna ac placerat vestibulum. Sed elementum tempus egestas sed sed risus. Viverra justo nec ultrices dui. Arcu non sodales neque sodales.
                    Vel elit scelerisque mauris pellentesque. Placerat duis ultricies lacus sed turpis tincidunt id. At auctor urna nunc id cursus metus.
                    Adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Et sollicitudin ac orci phasellus egestas tellus. Orci ac auctor augue mauris.
                    Mattis pellentesque id nibh tortor. Etiam non quam lacus suspendisse faucibus interdum posuere.
                </span>
            </div>
            <p class="tesxxxx"></p>
            <textarea name="test-input" id="test-input" cols="146" rows="10" style="opacity: 1"></textarea>
            <div class="test-keyboard-box">
                <img class="keyboard" src="{{ asset('img/index.jpg') }}" alt="">
            </div>
        </div>
    </div>
{% endblock %}

{% block two_rows %}{% endblock %}

{%block scripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function () {
            let originalText = $("#original-text").text().trim();

            $(".test-text-display").click(function () {
                $("textarea#test-input").focus();
            });

            $("textarea#test-input").on('input', function () {
                compareInputWithText($(this).val());
            });

            function compareInputWithText(input) {
                let inputIndex = input.length - 1;
                let originalChar = originalText.charAt(inputIndex);
                let inputChar = input.charAt(inputIndex);
                if (originalChar === inputChar) {
                    //set letter style pass
                    $("p.tesxxxx").text(originalChar + ' : ' + inputChar + '+');
                } else {
                    //set letter style wrong
                    $("p.tesxxxx").text(originalChar + ' : ' + inputChar + '-');
                }
            }
        })
    </script>
{% endblock %}