<div class="container">
    <div class="row">
        <div class="col-12 top-menu-box rounded-block ff-ui-text">
            <div class="top-menu-item unhoverable left">
                <a href="/"><b>Best SNG blind typer</b></a>
            </div>
            <div class="top-menu-item left">
                Typing course
            </div>
            <div class="top-menu-item left">
                Typing test
            </div>
            <div class="top-menu-item left">
                Typing games
            </div>
            <div class="top-menu-item right unhoverable">
                <a href="#"><i class="fad fa-sign-in-alt" style="top: 1px;"></i> Log in</a>
            </div>
        </div>
    </div>
</div>

