html, body {
    font-family: 'SF UI Display';
    padding: 0 !important;
    margin: 0 !important;
}

canvas {
    margin-bottom: 7px;
}

hr {
    border: 0;
    height: 1px;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: black;
    transition: all .2s;
}

.link {
    color: #35b0ee;
}

button, .btn {
    font-size: 14px;
    font-weight: 100;
    padding: 10px 40px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #ffbb00;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: all .3s;
    outline: none;
}

.btn {
    font-weight: 400;
}

button:hover, a.btn:hover {
    background-color: #ffa200;
}

button.btn-block, a.btn-block {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.btn-danger {
    background-color: rgba(255, 0, 0, 0.7);
    color: #ffffff;
}

.btn-danger:hover {
    background-color: rgba(255, 0, 0, 0.9);
}

.btn.selected {
    background-color: #009900;
    color: #ffffff;
    cursor: default;
}

.form-select {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 2px;
    outline: none;
    margin: 0 5px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

table th {
    background-color: #ebebeb;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

table tr:nth-child(even) {
    background-color: #f5f5f5;
}

.alert {
    margin-top: 20px;
    padding: 7px 20px;
    color: white;
    border-radius: 5px;
}

.alert-danger {
    background-color: rgb(255, 91, 67);
}

.wrapper {
    min-height: 78vh;
}

.text-center {
    text-align: center;
}

.form-group {
    margin: 15px 0;
}

.form-control {
    font-size: 14px;
    outline: none;
    box-shadow: none;
    border: none;
    width: 100%;
    padding: 10px 15px;
}

.ff-ui-text {
    font-family: 'SF UI Text';
    letter-spacing: -0.022em;
}

.subtitle {
    font-weight: 200;
}

.bag {
    padding: 3px 8px;
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    min-width: 20px !important;
    font-size: 14px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.rounded-block {
    border-radius: 20px;
}

.top-menu-box {
    margin-top: 20px;
    background-color: #ddf3ff;
}

.top-menu-box, .top-menu-box a {
    transition: all .0s;
}

.top-menu-box a:hover {
    color: #576268;
}

.top-menu-item {
    font-weight: 200;
    padding: 20px 20px;
    cursor: pointer;
}

.top-menu-item:hover:not(.unhoverable) {
    background-color: #cee4f0;
}

.logo-img {
    height: 16px;
    margin: 2px 0 0;
    padding: 0;
}

.dropdown {
    position: relative;
    top: 2px;
    display: inline-block;
}

.dropdown-content {
    background-color: #ffffff;
    border: 5px solid #ddf3ff;
    padding: 10px;
    display: none;
    position: absolute;
    left: -14px;
    z-index: 1;
}

.dropdown-item {
    margin-top: 5px;
    transition: all .3s;
}

.dropdown-item:hover .language-img {
    opacity: .7;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.language-img {
    max-width: 16px;
}

span.small {
    font-size: 14px;
    color: darkgray;
}

/* Advertisement */
.ads-row {
    justify-content: center;
}

.ads-container {
    height: 150px;
}

/* One row */
.test-box {
    width: 100%;
    background-color: #fafafa;
}

.test-settings-container {
    width: 1050px;
    margin: 0 auto;
}

.test-wrapper {
    padding: 20px;
}

.test-container {
    width: 1050px;
    margin: 0 auto;
}

.test-container-error {
    text-align: center;
    display: none;
    padding: 50px 0;
}

.test-text-display {
    border: 5px solid black;
    height: 300px;
    text-align: center;
    background-color: white;
    padding: 25px;
    font-size: 44px;
    line-height: 64px;
    font-weight: 700;
    overflow: hidden;
}

.letter.space {
    letter-spacing: 5px;
}

span.current {
    color: #9fcdff;
    text-decoration: underline;
    -webkit-animation: blink1 1.3s linear infinite;
    animation: blink1 1.3s linear infinite;
}
@-webkit-keyframes blink1 {
    0% { color: rgba(159, 205, 255, 1); }
    50% { color: rgba(159, 205, 255, 0.5); }
    100% { color: rgba(159, 205, 255, 1); }
}
@keyframes blink1 {
    0% { color: rgba(159, 205, 255, 1); }
    50% { color: rgba(159, 205, 255, 0.5); }
    100% { color: rgba(159, 205, 255, 1); }
}

span.pass {
    color: lightgray;
}

span.wrong {
    color: rgba(255, 0, 0, 0.65);
    text-decoration: underline;
}

.test-utils-container {
    min-height: 250px
}

.hand-box {
    float: left;
    margin-right: 40px;
}

.hand-border {
    position: absolute;
    height: 105px;
    width: 130px;
    margin-top: 120px;
    border: 5px solid black;
    border-top: none;
    border-radius: 0 0 60px 60px;
    background-color: #ffffff;
    z-index: 100;
}

.finger {
    position: relative;
    width: 30px;
    height: 120px;
    border: 5px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom: none;
    float: left;
    margin-right: -5px;
    background-color: #ffffff;
}

.finger.current {
    background-color: #9fcdff;
}

.finger.shift, .key.shift {
    background-color: #75ffa8;
}

.finger.thumb {
    margin-top: 80px;
    height: 70px;
    z-index: 101;
}

.finger.index {
    margin-top: 30px;
    height: 90px;
}

.left-hand .finger.index {
    z-index: 102;
}

.finger.middle {
}

.finger.ring {
    margin-top: 15px;
    height: 105px;
    z-index: 102;
}

.finger.pinky {
    margin-top: 60px;
    height: 60px;
}

/* Keyboard */
.keyboardRow {
    text-align: center
}

.key {
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 10px;
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    margin-bottom: 5px;
}

sub {
    margin-left: 5px;
}

.two-letters {
    line-height: 12px;
    position:relative;
    top: 7.5px;
}

span.key.key-current {
    color: white;
    background-color: #9fcdff;
}

.key.space {
    min-width: 350px;
}

.key-length-1 {
    padding: 10px 20px;
}

.key-length-2 {
    padding: 10px 30px;
}

.key-length-3 {
    padding: 10px 40px;
}

.iso-enter {
    /*height: 80px;*/
    /*max-height: 80px;*/
}

.note {
    text-align: right;
    font-size: 12px;
    color: lightgray;
}

/* Two rows */
.main-row {
    margin-top: 20px;
}

.left-main-block {
    width: 100%;
    background-color: #fafafa;
}

.right-main-block {
    width: 100%;
    background-color: #fafafa;
}

.left-main-block, .right-main-block {
    padding-bottom: 15px;
}

.content {
    padding: 5px 25px;
}

form.login-form a {
    font-size: 14px;
}

/* Registration */
.registration-form {
    text-align: center;
    margin: 0 auto;
    width: 450px;
    padding-bottom: 10px;
}

/* Profile */
.user-settings-button {
    font-size: 22px;
    cursor: pointer;
    transition: all .3s;
    top: -3px;
    color: #4a4a4a;
    position: relative;
    margin-left: 5px;
}

.user-settings-button:hover {
    opacity: .8;
}

.premium-plans-wrapper {
    text-align: center;
    margin-bottom: 25px;
}

.premium-plans {
    display: inline-block;
}

.premium-plans .plan {
    position:relative;
    float: left;
    margin-right: 25px;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: white;
    min-width: 320px;
    height: 400px;
    text-align: left;
}

.premium-plans .plan .title, .price, .select {
    text-align: center;
}

.premium-plans .plan .conditions {
    margin-top: 25px;
    line-height: 28px;
}

.premium-plans .plan .price {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 22px;
}

.premium-plans .plan .price .small-price {
    font-size: 12px;
}

.premium-plans .plan .price-footer {
    width: 100%;
    position: absolute;
    bottom: 5px;
}

.premium-plans .plan .price-footer .select {
    margin-bottom: 20px;
}

.premium-plans .plan .price-footer .select.current {
    margin-bottom: 0;
}

.premium-plans .plan .price-footer .select.current .selected {
    margin-bottom: 5px;
}

.premium-plans .plan .price-footer .cancel-subscription {
    display: inline-block;
    font-size: 11px;
    color: lightgray;
    margin-bottom: 5px;
}

.premium-plans .plan .price-footer .cancel-subscription:hover {
    color: darkgray;
}

/* Footer */
footer {
    padding: 0;
}

.footer {
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fafafa;
    font-size: 12px;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-header {
    padding: 5px 25px;
    background-color: #ddf3ff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.modal-body {
    padding: 5px 25px;
}

.modal-content {
    position: relative;
    top: 100px;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 20px;
}

.modal-footer {
    padding: 5px 25px;
    min-height: 55px;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 100px; opacity: 1}
}

span.close {
    margin-top: 15px;
    color: #6a6a6a;
    float: right;
    font-size: 24px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.retry-btn {
    margin-right: 20px;
    margin-top: 10px;
    font-size: 14px;
}

/* Accordion */
.mask {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .9;
    z-index: 999;
    text-align: center;
    align-items: center;
}

.mask .message {
    margin: 0 auto;
    top: 50%;
}

.course-item.premium {
    position: relative;
}

.accordion-header {
    background-color: #ddf3ff;
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    outline: none;
}

.accordion-header:nth-child(1) {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accordion-body {
    background-color: white;
    padding: 10px 20px;
}

.course-link {
    line-height: 24px;
}

/* Preloader */
.preloader {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(235, 235, 235, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
}

.sk-fading-circle {
    width: 4em;
    height: 4em;
    position: relative;
    margin: auto;
}
.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #337ab7;
    border-radius: 100%;
    -webkit-animation: sk-fading-circle-delay 1.2s infinite ease-in-out both;
    animation: sk-fading-circle-delay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle-2 {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.sk-fading-circle .sk-circle-3 {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}
.sk-fading-circle .sk-circle-4 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sk-fading-circle .sk-circle-5 {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}
.sk-fading-circle .sk-circle-6 {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
}
.sk-fading-circle .sk-circle-7 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sk-fading-circle .sk-circle-8 {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
}
.sk-fading-circle .sk-circle-9 {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
}
.sk-fading-circle .sk-circle-10 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.sk-fading-circle .sk-circle-11 {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
}
.sk-fading-circle .sk-circle-12 {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}
.sk-fading-circle .sk-circle-2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle-3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.sk-fading-circle .sk-circle-4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle-5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle-6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle-7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle-8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle-9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle-10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle-11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle-12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-fading-circle-delay {
    0%, 39%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes sk-fading-circle-delay {
    0%, 39%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 30px auto -50px;
    display: none;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.mobile-device-mask {
    display: none;
}

/* Adaptive */
@media (max-width: 400px) {
    .mobile-device-mask {
        padding: 0 10px;
        background-color: #3498db;
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 9999;
        top: 0;
        display: flex;
        align-items: center;
        text-align: center;
        color: #fff;
    }
}