html, body {
    font-family: 'SF UI Display';
}

a {
    text-decoration: none;
    color: black;
    transition: all .2s;
}

a:hover {
    color: #576268;
}

button {
    font-size: 14px;
    font-weight: 100;
    padding: 12px 40px;
    border-radius: 20px;
    background-color: #ffbb00;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: all .3s;
    outline: none;
}

button:hover {
    background-color: #ffa200;
}

.ff-ui-text {
    font-family: 'SF UI Text';
    letter-spacing: -0.022em;
}

.subtitle {
    font-weight: 200;
}

.left {
    float: left;
}

.right {
    float: right;
}

.rounded-block {
    border-radius: 20px;
}

.top-menu-box {
    margin-top: 10px;
    background-color: #ddf3ff;
}

.top-menu-item {
    font-weight: 200;
    padding: 20px 20px;
    transition: all .2s;
    cursor: pointer;
}

.top-menu-item:hover:not(.unhoverable) {
    background-color: #cee4f0;
}

/* One row */
.test-box {
    width: 100%;
    background-color: #fafafa;
}

.test-wrapper {
    padding: 20px;
}

.test-container {
    width: 900px;
    left: -450px;
    margin: 0 auto;
}

.test-text-display {
    border: 5px solid black;
    height: 300px;
    overflow-x: hidden;
    text-align: justify;
    background-color: white;
    padding: 25px;
    font-size: 44px;
    font-weight: 700;
}

span.current {
    color: #9fcdff;
    text-decoration: underline;
    -webkit-animation: blink1 1.3s linear infinite;
    animation: blink1 1.3s linear infinite;
}
@-webkit-keyframes blink1 {
    0% { color: rgba(159, 205, 255, 1); }
    50% { color: rgba(159, 205, 255, 0.5); }
    100% { color: rgba(159, 205, 255, 1); }
}
@keyframes blink1 {
    0% { color: rgba(159, 205, 255, 1); }
    50% { color: rgba(159, 205, 255, 0.5); }
    100% { color: rgba(159, 205, 255, 1); }
}

span.pass {
    color: lightgray;
}

span.wrong {
    color: rgba(255, 0, 0, 0.65);
    text-decoration: underline;
}

img.keyboard {
    margin-top: 10px;
    max-width: 100%;
}

/* Two rows */
.main-row {
    margin-top: 20px;
}

.left-main-block {
    width: 100%;
    background-color: #fafafa;
}

.right-main-block {
    width: 100%;
    background-color: #fafafa;
    padding-bottom: 15px;
}

.content {
    padding: 5px 25px;
}