{% extends 'layouts/base.html.twig' %}

{% block title %}New Courses{% endblock %}

{% block one_row_content %}
    <div class="content">
        <div class="breadcrumbs">
            <a href="{{ path('adminIndex') }}" class="link">Admin</a> /
            <a href="{{ path('courses_index') }}" class="link">Courses</a> /
            <span>Create</span>
        </div>

        <h1>Create new Courses</h1>

        {{ include('admin/courses/_form.html.twig') }}
    </div>
{% endblock %}

{% block two_rows %}{% endblock %}