{% extends 'layouts/base.html.twig' %}

{% block title %}Admin - index{% endblock %}

{% block two_rows_content_1 %}
    <div class="content">
        <a href="{{ path('adminIndex') }}" class="btn btn-block">Index</a>
        <a href="{{ path('adminOverview') }}" class="btn btn-block">Overview</a>
    </div>
{% endblock %}

{% block two_rows_content_2 %}
    <div class="content">
        <br>
        <a class="btn" href="{{ path('clearCache') }}">Clear cache</a>
        <a class="btn" href="{{ path('texts_index') }}">Texts</a>
        <br>
        <br>
    </div>
{% endblock %}
