<div class="rounded-block left-main-block">
    <br>
    <div class="content">
        <a href="{{ path('adminIndex') }}" class="btn btn-block">Index</a>
        <a href="{{ path('adminOverview') }}" class="btn btn-block">Overview</a>
        <a href="{{ path('courses_index') }}" class="btn btn-block">Courses</a>
        <a href="{{ path('user_index') }}" class="btn btn-block">User</a>
    </div>
</div>