<style>
    textarea {
        width: 1000px;
        height: 400px;
    }
</style>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
