{% extends 'layouts/base.html.twig' %}

{% block title %}Edit Texts{% endblock %}

{% block one_row_content %}
    <div class="content">
        <h1>Edit Texts</h1>

        {{ include('texts/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('texts_index') }}">back to list</a>

        {{ include('texts/_delete_form.html.twig') }}
    </div>
{% endblock %}
